<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Message</title>
	</head>
	<body>
		<h1>Write a new message, if you must</h1>
		<form method="POST" action="/new">
			<div>
				<label for="text">your message</label>
				<textarea name="text" id="text" cols="20" rows="10"></textarea>
			</div>
			<div>
				<label for="userName">your name</label>
				<input type="text" name="userName" id="userName" />
			</div>
			<input type="submit" value="send" />
		</form>
	</body>
</html>
